/*==== Genral Rules ====*/
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.container-all {
  position: relative;
}
body {
  font-family: "Roboto", sans-serif;
}
/*====// Genral Rules //====*/

/*====== Form ======*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.form-container form {
  background-color: #2980b9;
  padding: 20px 10px;
  border-radius: 5px;
}
.from-label {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
}
.form-input:hover {
  font-size: 22px;
  border: 3px solid #28b463;
  outline: 1px solid #28b463;
}
.form-input {
  font-size: 20px;
}
.btn-form {
  margin: auto;
  display: block;
  background-color: #196f3d;
  text-transform: capitalize;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
}
.btn-form:hover {
  font-size: 22px;
  background-color: #145a32;
  border: 1px solid black;
}
/*======// Form //======*/
