.table-header {
  background-color: #34495e !important;
  color: white;
  text-transform: capitalize;
  margin-top: 50px !important;
}
.talbe-header-count {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.user-photo {
  width: 45px;
  height: 45px;
  margin-left: 25px;
}
.table-content-username,
.table-content-email {
  font-size: 20px;
}

.table-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.table-action .btn-details {
  text-decoration: none;
  background-color: #229954;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
}
.table-action .btn-details:hover {
  color: white;
  font-size: 22px;
  padding: 5px;
  border: 1px solid black;
}
.table-action .delete-btn {
  font-size: 20px;
  color: white;
  width: 100px;
  padding: 7px;
}
