* {
  list-style: none;
}
.container-profil {
  margin: 0 auto;
  width: 50%;
}
.container-profil-admin {
  margin: 0 -20px;
  width: 55%;
}
.wrapper {
  width: 70%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  justify-content: center;
  margin: 10px 0;
}

.wrapper .left {
  width: 30%;
  background: #2874a6;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 70%;
  background: #e5e7e9;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 17px;
  margin-bottom: 10px;
  color: #707b7c;
}

.wrapper .social_media ul {
  display: flex;
  justify-content: center;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: #2874a6;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}
.form-upload-image-profile {
  display: flex;
  justify-content: center;
}

.upload-image-label {
  color: #353c4e;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-profile-photo {
  background-color: #ecf0f1;
  border-radius: 5px;
  padding: 1px;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  height: 25px;
}

.input-profile-photo {
  display: none;
}
