.post-description {
  font-size: 25px;
  margin-top: 10px;
}

.comment {
  border: 1px solid #d0d3d4;
  background-color: #979a9a;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 800px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.comment-container {
  display: flex;
  width: 80%px;
  justify-content: start;
  align-items: center;
  margin: 15px;
}
.comment-owner-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.comment-title {
  margin-top: 10px;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
}

/*==== comments component=====*/
.comment-action {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.create-new-comment-input {
  width: 400px;
  margin-right: auto;
  display: block;
  font-size: 20px;
  border: 1px solid gray;
  outline: 0;
  padding: 5px;
}
.create-new-comment-input:hover {
  border: 3px solid #2ecc71;
  outline: 1px solid greenyellow;
}
.action {
  display: flex;
}
.comment-acton-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/*====// comments component //=====*/
.btn-update-comment {
  padding: 12px;
}
