.container-post {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}
.post-card {
}
/*==== post header =====*/
.header-post {
  display: flex;
  justify-content: space-between;
  background-color: #aed6f1;
  width: 100%;
  margin-right: auto;
}

.header-post .user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  cursor: pointer;
  text-decoration: none;
  color: #34495e;
}
.post-header-image {
  width: 50px;
  height: 50px;
}

.header-username-post {
  font-size: 25px;
  text-transform: capitalize;
}
.post-header-action {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-around;
}
/*====// post header //=====*/

/*==== post body =====*/
.post-body {
  display: flex;
  flex-direction: column;
}

.post-body .image-post {
  width: 50%;
  margin: 0 auto;
  background-size: cover;
  object-fit: contain;
}

.post-body .btn-details {
  width: 200px;
  margin: 10px auto;
  font-size: 20px;
  text-transform: capitalize;
}
/*====// post body //=====*/

/*==== post acton =====*/
.post-action {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.post-action-likes {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.post-action .like-icon {
  color: #2980b9;
  font-size: 40px;
  cursor: pointer;
}
.unlike-icon {
  color: #333;
  font-size: 40px;
  cursor: pointer;
}
.count-likes {
  font-size: 30px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  font-weight: 700;
}
.post-action-comment {
  font-size: 30px;
  cursor: pointer;
}
/*====// post acton //=====*/

/*======== add post modal =====*/
.btn-add-post {
  position: fixed;
  bottom: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  z-index: 1;
}
/*========// add post modal //=====*/
