/*==== Header ====*/
header {
  background-color: #273746;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-brand {
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-transform: capitalize;
  padding: 3px 10px;
  border-radius: 5px;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav-links-isAuth {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-transform: capitalize;
  padding: 3px 10px;
  border-radius: 5px;
}
.link:hover {
  background-color: #bdc3c7;
  color: #3498db;
}
.cart-icon-notification {
  position: relative;
  cursor: pointer;
}
.cart-icon {
  font-size: 35px;
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e74c3c;
  font-size: 25px;
  padding: 0;
  transform: translate(75%, -65%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-profil {
  width: 50px;
  height: 50px;
}

/*====// Header //====*/
